@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
.b1{
    text-decoration: none;
    font-weight: 400;
    color: #CF5052;
    background-color: white;
    border-radius: 20px;
    font-size: 24px;
    padding: 5px 14px;
}
.logo{
    font-size: 32px;
    font-weight: 400;
    color: white;
}
header{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    background-color: #CF5052;
    padding: 15px;
}
main{
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.h11{
    font-size: 32px;
}
.Aboutus{
    background-color: white;
}
.p1{
    font-size: 24px;
}
.p2{
    font-size: 20px;
}
.div1{
    height: 20px;
    background-color: #CF5052
}
.ul1{
    font-size: 20px;
}
.img1{
    width: 25%;
    height: 25%;
    display: inline;
    position: relative;
    bottom: 25px;
}
.h12{
    font-size: 32px;
    text-align: center;
}
.b2{
    text-decoration: none;
    font-weight: 400;
    color: white;
    background-color: #CF5052;
    border-radius: 20px;
    font-size: 24px;
    padding: 5px 14px;
    display: inline;
    position: relative;
    right: 250px;
    bottom: 40px;
}
.img2{
    display: inline;
    position: relative;
    left: 150px;
}
.b3{
    text-decoration: none;
    font-weight: 400;
    color: white;
    background-color: #CF5052;
    border-radius: 20px;
    font-size: 24px;
    padding: 5px 14px;
    display: inline;
    position: relative;
    right: 100px;
    bottom: 40px;
}
.img3{
    width: 20%;
    height: 20%;
    display: inline;
    position: relative;
    left: 250px;
    bottom: 60px;
}
.b4{
    text-decoration: none;
    font-weight: 400;
    color: white;
    background-color: #CF5052;
    border-radius: 20px;
    font-size: 24px;
    padding: 5px 14px;
    display: inline;
    position: relative;
    bottom: 40px;
    left: 50px;
}
.img4{
    width: 25%;
    height: 25%;
    display: inline;
    position: relative;
    bottom: 25px;
    left: 125px;
}
.img5{
    width: 20%;
    height: 20%;
    display: inline;
    position: relative;
    bottom: 30px;
    left: 250px;
}
.div2{
    font-size: 24px;
    background-color: #CF5052;
    padding: 75px;
    text-align: center;
    border-radius: 30px;
}
.indiv{
    padding: 10px 10px;
    background-color: white;
    border-radius: 20px;
}
footer{
    background-color: black;
    color: yellow;
}